@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

body {
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 10%;
    background-color: #D8D7D5;
}

#navlogo {
    height: 50px;
}

@media screen and (min-width: 900px) {
    .navlogoalt {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .navlink {
        float: none;
        display: block;
        text-align: center;
    }

    .navlogo{
        display: none;
    }

    header {
        padding: none;
        justify-content: center;
    }

    #nav_ul {
        padding: 0;
    }

    .navlogoalt {
        height: 50px;
        float: none;
    }
  }

#nav_ul {
    list-style-type: none;
}

#nav_ul li {
    display: inline;
}

#cart {
    color: #050606;
    text-decoration: none;
    padding: 10px;
}

#navlink {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: #050606;
    border-radius: 20px;
    padding: 10px;
}

#navlink:hover {
    background-color: #ADB3BC;
    color: #FDFDFD;
    transition: 250ms;
}

main {
    color: #050606;
}

.cart_container {
    display: flex;
}

.cart_flex {
    width: 100%;
}

#cartheader {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#cart_th {
    background-color:#D8D7D5;
}

#cart_total {
    background-color: #D8D7D5;
    text-align: right;
}

#carttable {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#somethingcartdiv {
    text-align: center;
}

#somethingcart {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #050606;
    font-size: 16px;
    width: 20px;
}

#nothingcart {
    text-align: center;
}

#cart_isbn,
#cart_quantity {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #050606;
    user-select: none;
}

#cart_isbn:hover,
#cart_isbn:focus {
    border: none;
    outline: none;
    user-select: none;
}

#cart_quantity:hover,
#cart_quantity:focus {
    border: none;
    outline: none;
    user-select: none;
}

#cart_isbn {
    width: 33px;
}

#cart_quantity{
    width: 15px;
}

#cart_add,
#cart_subtract {
    text-align: center;
    border: 0;
    margin: 0 5px;
    background-color: #050606;
    color: #FDFDFD;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    display: inline;
    font-weight: bold;
}

#cart_add:hover,
#cart_subtract:hover {
    background-color: #D8D7D5;
    color: #050606;
    transition: 250ms;
}

#cart_remove {
    text-align: center;
    border: 0;
    padding: 3px;
    margin: 0 5px;
    background-color: #ffa2a2;
    color: #050606;
    border-radius: 20px;
    display: inline;
    font-weight: bold;
}

#cart_remove:hover {
    background-color: #ff0000;
    color: #FDFDFD;
    transition: 250ms;
}

#cart_price_total_td {
    background-color: #cccbca;
}

.cart_price,
#cart_price_total {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: #050606;
    width: 50px;
}

#checkout_button {
    text-align: center;
}

#checkout_button input{
    display: inline-block;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    text-align: center;
    background: #050606;
    color: #fafafa;
    padding: 10px 34px;
    margin: 25px 0;
    border-radius: 25px;
    transition: background 250ms;
    border: none;
}

#checkout_button input:hover{
    background: #D8D7D5;
    color: #050606;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

html, body {
    height: 100%;
}

table,
tr,
td,
th {
    /* border: #050606 1px solid; */
    padding: 10px;
}

#bottomfooter {
    background-color: #D8D7D5;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}


#footlogo {
    width: 150px;
    vertical-align: top;
    padding-top: 20px;
}

#footeritems {
    vertical-align: top;
}

#footertitle {
    padding-left: 15px;
    text-decoration: underline;
    text-underline-offset: 10px;
}

#footlink {
    color: #050606;
    text-decoration: none;
}

#footlink:hover {
    background-color: #ADB3BC;
    color: #FDFDFD;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    transition: 250ms;
}

#footerlist {
    list-style-type: none;
    margin-left: -25px;
}

div.con {
    display: flex;
}

div.footimg {
    width: 33.33%;
}

div.navigation {
    width: 33.33%;
}

div.socials {
    width: 33.33%;
}