@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    background-image: url(https://images5.alphacoders.com/659/659155.jpg);
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
    overflow: auto;
}

h1 {
    font-size: 60px;
}

input, label {
    display: flex;
}

label {
    font-size: 25px;
    margin-right: 70px;
    padding-bottom: 5px;;
}

input[type=text],
input[type=password] {
    border: 2px solid black;
    border-radius: 15px;
    width: 380px;
    font-size: 20px;
    padding: 10px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #adb3bc;
}

input[type=submit] {
    font-size: 22px;
    padding: 10px;
}

.container {
    background-color: #d8d7d5;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 8% 5% 10px 4%;
    max-width: 350px;
}

#telformat {
    margin-top: -20px;
}

p, a, a:visited {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
}

a:hover {
    text-decoration: underline;
    transition: 1000ms;
}

#loginbutton {
    font-weight: bold;
    border: 2px solid black;
    padding: 10px 170px;
}

#loginbutton:hover {
    cursor: pointer;
    background-color: #adb3bc;
    transition: 250ms;
}

#logo {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: 35%;
    min-width: 250px;
    width: 50%;
}

#links1, 
#links2 {
    width: 123%;
}

br {
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#links1, 
#links2 {
    width: 123%;
}

#adminpage {
    margin-left: 76px;
    /* text-align: center; */
    /* margin-left: 10%; */
}

@media screen and (max-width: 1180px) {
    #logo {
        margin-left: 20%;
        width: 50%;
    }

    h1 {
        padding-top: 10px;
        text-align: center;
        margin-right: 100%;
    }

    body {
        background-color: antiquewhite;
        background-image: none;
        overflow-x: auto;
    }

    .container {
        display: block;
        margin: 0;
        padding: 0;
        padding-top: 100px;
        align-items: center;
        background-color: antiquewhite;
        max-width: 100%;
        padding-left: 30%;
        margin-right: 50%;
        /* margin-left: 25%; */
    }

    input[type=text],
    input[type=password] {
        /* margin-left: 25%; */
        width: 390px;
        font-size: 18px;
        padding: 10px;
        overflow: hidden;
    }

    #loginbutton {
        font-size: 20px;
        padding: 10px 177px;
    }

    div.text {
        width: 40%;
        margin-right: 0;
    }

    #links1, 
    #links2 {
        width: 170%;
    }
}

@media screen and (max-width: 580px) {
    h1 {
        font-size: 53px;
    }
}

@media screen and (max-height: 700px) {
    html, body {
        margin: 0;
    }

    .container {
        position: relative;
        height: 100%;
        padding-bottom: 30px;
    }
}

@media screen and (min-height: 1080px) {
    body {
        overflow: hidden;
    }
}

@media screen and (min-width: 1720px) {
    input[type=text],
    input[type=password] {
        width: 380px;
    }
}