@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&display=swap');

body {
    background-color: #FDFDFD;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px 10%;
    background-color: #D8D7D5;
}

#navlogo {
    height: 50px;
}

nav {
    margin: auto 0 auto 0;
}

h1 {
    font-size: 60px;
    text-align: center;
}

p {
    font-size: 22px;
}

@media screen and (min-width: 901px) {
    .navlogoalt {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .navlink {
        float: none;
        display: block;
        text-align: center;
    }

    .navlogo{
        display: none;
    }

    header {
        padding: none;
        justify-content: center;
    }

    #nav_ul {
        padding: 0;
    }

    .navlogoalt {
        height: 50px;
        float: none;
    }
  }

#nav_ul {
    list-style-type: none;
}

#nav_ul li {
    display: inline;
}

#navlink {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
    color: #050606;
    padding: 10px;
    border-radius: 20px;
}

#navlink:hover {
    background-color: #ADB3BC;
    color: #050606;
    transition: 250ms;
}

table { 
    border-collapse: collapse;
    margin: auto;
    font-size: 24px;
}

td {
    font-size: 20px;
    padding: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

th {
    padding: 10px;
    border: 2px solid black;
}

td:nth-of-type(1) {
    max-width: 230px;
    min-width: 220px;
    text-align: center;
}

td:nth-of-type(2) {
    min-width: 380px;
    max-width: 400px;
}

td:nth-of-type(3) {
    min-width: 190px;
    max-width: 200px;
    text-align: center;
}

td:nth-of-type(4) {
    min-width: 300px;
    max-width: 310px;
    text-align: center;
}

tr:last-of-type {
    border-bottom: 2px solid black;
}